{% extends 'base.html.twig' %}

{% block title %}Jstore | Home page {% endblock %}

{% block body %}


<div  class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
    <div  id="carouselExampleControls" data-bs-ride="carousel"
        class="carousel slide carousel-fade light_arrow">
        <div  class="carousel-inner">
            {% for slide in sliders %}
            <div  class="{{loop.index < 2 ? 'carousel-item background_bg  active' : 'carousel-item background_bg'}}"
               
                data-img-src="/assets/images/sliders/{{slide.imageUrl}}"
                style="background-image: url('/assets/images/sliders/{{slide.imageUrl}}');">
                <div  class="banner_slide_content">
                    <div  class="container">
                        <div  class="row">
                            <div  class="col-lg-7 col-9">
                                <div  class="banner_content overflow-hidden">
                                    <h5  data-animation="slideInLeft"
                                        data-animation-delay="0.5s"
                                        class="mb-3 staggered-animation font-weight-light animated slideInLeft"
                                        style="animation-delay: 0.5s; opacity: 1;">
                                        {{ slide.description }}
                                    </h5>
                                    <h2  data-animation="slideInLeft"
                                        data-animation-delay="1s" class="staggered-animation animated slideInLeft"
                                        style="animation-delay: 1s; opacity: 1;">
                                        {{ slide.title }}
                                    </h2><a
                                         data-animation="slideInLeft"
                                        data-animation-delay="1.5s"
                                        target="_blank"
                                        class="btn btn-fill-out rounded-0 staggered-animation text-uppercase animated slideInLeft"
                                        href="{{ slide.buttonLink }}"
                                        style="animation-delay: 1.5s; opacity: 1;">
                                        {{ slide.buttonText }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div><a  href="#carouselExampleControls" role="button" data-bs-slide="prev"
            class="carousel-control-prev"><i  class="ion-chevron-left"></i></a><a
             href="#carouselExampleControls" role="button" data-bs-slide="next"
            class="carousel-control-next"><i  class="ion-chevron-right"></i></a>
    </div>
</div>
<div  class="main_content">
    <div  class="section pb_20">
        <div  class="container">
            <div  class="row">
                {% for collection in collections %}
                <div  class="col-md-6">
                    <div  class="single_banner"><img 
                            alt="shop_banner_img1"
                            src="/assets/images/collections/{{collection.imageUrl}}">
                        <div  class="single_banner_info">
                            <h5  class="single_bn_title1">{{ collection.description }}</h5>
                            <h3  class="single_bn_title">{{ collection.title }}</h3><a
                                 class="single_bn_link"
                                 target="_blank"
                                href="{{ collection.buttonLink }}">{{ collection.buttonText }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div  class="col-md-6">
                    <div  class="single_banner"><img 
                            alt="shop_banner_img1"
                            src="/assets/files/1231816139442978863631268994779183882351500061684757886381.png">
                        <div  class="single_banner_info">
                            <h5  class="single_bn_title1">Super Sale</h5>
                            <h3  class="single_bn_title">New Collection</h3><a
                                 class="single_bn_link"
                                href="http://localhost:4400/">Shop Now</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div  class="section small_pt pb_70">
        <div  class="container">
            <div  class="row justify-content-center">
                <div  class="col-md-6">
                    <div  class="heading_s1 text-center">
                        <h2 >Exclusive Products</h2>
                    </div>
                </div>
            </div>
            <div  class="row">
                <div  class="col-12">
                    <div  class="tab-style1">
                        <ul  role="tablist" class="nav nav-tabs justify-content-center">
                            <li  class="nav-item"><a 
                                    id="arrival-tab" data-bs-toggle="tab" href="#arrival" role="tab"
                                    aria-controls="arrival" aria-selected="true" class="nav-link active">New
                                    Arrival</a></li>
                            <li  class="nav-item"><a 
                                    id="sellers-tab" data-bs-toggle="tab" href="#sellers" role="tab"
                                    aria-controls="sellers" aria-selected="false" class="nav-link">Best Sellers</a>
                            </li>
                            <li  class="nav-item"><a 
                                    id="featured-tab" data-bs-toggle="tab" href="#featured" role="tab"
                                    aria-controls="featured" aria-selected="false" class="nav-link">Featured</a>
                            </li>
                            <li  class="nav-item"><a 
                                    id="special-tab" data-bs-toggle="tab" href="#special" role="tab"
                                    aria-controls="special" aria-selected="false" class="nav-link">Special Offer
                                </a></li>
                        </ul>
                    </div>
                    <div  class="tab-content">
                        <div  id="arrival" role="tabpanel" aria-labelledby="arrival-tab"
                            class="tab-pane fade show active">
                            <div  class="row shop_container">
                                {% for product in productsNewArrival %}
                                    {% include "product/display_product.html.twig" %}
                                {% endfor %}
                               
                            </div>
                        </div>
                        <div  id="sellers" role="tabpanel" aria-labelledby="sellers-tab"
                            class="tab-pane fade">
                            <div  class="row shop_container">
                                {% for product in productsBestSeller %}
                                    {% include "product/display_product.html.twig" %}
                                {% endfor %}
                            </div>
                        </div>
                        <div  id="featured" role="tabpanel"
                            aria-labelledby="featured-tab" class="tab-pane fade">
                            <div  class="row shop_container">
                                {% for product in productsFeatured %}
                                {% include "product/display_product.html.twig" %}
                            {% endfor %}
                            </div>
                        </div>
                        <div  id="special" role="tabpanel" aria-labelledby="special-tab"
                            class="tab-pane fade">
                            <div  class="row shop_container">
                                {% for product in productsSpecialOffer  %}
                                {% include "product/display_product.html.twig" %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
